.timetable-cell-airline-company_header {

    display: none

}

@media only screen and (min-width: 399px) { //and (max-width: 480px){
    .timetable-cell-airline-company_header {

        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 15%;
        background-clip: padding-box;
        border-right: 1px solid #ffffff;

        //outline: 1px solid #ffffff;
        //border: 1px solid #ffffff;


    }
}

@media only screen and (min-width: 479px) { //and (max-width: 600px) {
    .timetable-cell-airline-company_header {
        //outline: 1px solid #ab7fff;

        width: 30%;

    }
}

@media only screen and (min-width: 599px) { //and (max-width: 800px) {
    .timetable-cell-airline-company_header {
        //outline: 1px solid #8ad0ff;
        width: 15%;
    }
}


@media only screen and (min-width: 639px) {//and (max-width: 1000px) {
    .timetable-cell-airline-company_header {
        width: 30%;

    }
}

@media only screen and (min-width: 719px) {//and (max-width: 1000px) {
    .timetable-cell-airline-company_header {
        width: 17%;

    }
}

@media only screen and (min-width: 767px) {//and (max-width: 1000px) {
    .timetable-cell-airline-company_header {
        width: 22%;

    }
}

@media only screen and (min-width: 1001px) {
    .timetable-cell-airline-company_header {
        //outline: 1px solid #58b6ff;
    }
}
