.timetable-cell-airline-company {
    display: none

}

@media only screen and (min-width: 399px) {
    .timetable-cell-airline-company {
        display: table-cell;

        &__name {
            display: none;
        }

        border: 1px solid #ffffff;

        text-align: center;
        vertical-align: middle;
        width: 15%;
        background-clip: padding-box;

        -o-transition: .135s;
        -ms-transition: .135s;
        -moz-transition: .135s;
        -webkit-transition: .135s;
        transition: .135s;

        &._hover {
            background: rgba(224, 224, 224, 0.75) none repeat scroll 0 0;

        }

    }
}

@media only screen and (min-width: 479px) {
    .timetable-cell-airline-company {

        width: 30%;

        &__name {
            display: block;
        }

    }
}

@media only screen and (min-width: 599px) {
    .timetable-cell-airline-company {
        width: 15%;


    }
}

@media only screen and (min-width: 639px) {
    .timetable-cell-airline-company {
        width: 30%;

    }
}

@media only screen and (min-width: 719px) {
    .timetable-cell-airline-company {
        width: 17%;

    }
}

@media only screen and (min-width: 767px) {
    .timetable-cell-airline-company {
        width: 22%;

    }
}


@media only screen and (min-width: 1001px) {
    .timetable-cell-airline-company {

    }
}
