.timetable-cell-airline-company_header {
    display: none

}

@media only screen and (min-width: 399px) {
    .timetable-cell-airline-company_header {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 15%;
        background-clip: padding-box;
        border-right: 1px solid #ffffff;

    }
}

@media only screen and (min-width: 479px) {
    .timetable-cell-airline-company_header {
        width: 30%;

    }
}

@media only screen and (min-width: 599px) {
    .timetable-cell-airline-company_header {
        width: 15%;

    }
}


@media only screen and (min-width: 639px) {
    .timetable-cell-airline-company_header {
        width: 30%;

    }
}

@media only screen and (min-width: 719px) {
    .timetable-cell-airline-company_header {
        width: 17%;

    }
}

@media only screen and (min-width: 767px) {
    .timetable-cell-airline-company_header {
        width: 22%;

    }
}

@media only screen and (min-width: 1001px) {
    .timetable-cell-airline-company_header {

    }
}
