.timetable-header-hidden {
    display: none;

    &._visible {
        display: table-header-group;
        position: fixed;
        width: 100%;
        //width: inherit;
        z-index: 1;
        top: 0;
        background-color: #363636;
    }
}

@media only screen and (min-width: 1001px) {
    .timetable-header-hidden {

        &._visible {
            max-width: 75%;
        }
    }
}
