.timetable-header-hidden {
    display: none;

    &._visible {
        display: table-header-group;
        position: fixed;
        width: inherit;
        z-index: 1;
        top: 0px;

        background-color: black;

    }
}

@media only screen and (min-width: 801px) {
    .timetable-header-hidden {

        &._visible {
            max-width: 75%;
        }
    }
}
