.timetable-cell-flight-note_header {

    display: none;

}

@media only screen and (min-width: 321px) {
    //and (max-width: 480px){
    .timetable-cell-flight-note_header {
        //outline: 1px solid #07fffa;
        //width: 25%;

    }
}

@media only screen and (min-width: 481px) {
    //and (max-width: 600px) {
    .timetable-cell-flight-note_header {
        //outline: 1px solid #ab7fff;
        //width: 12em;
    }
}

@media only screen and (min-width: 601px) {
    //and (max-width: 800px) {
    .timetable-cell-flight-note_header {
        //outline: 1px solid #8ad0ff;
        display: table-cell;
        width: 10%;
        text-align: center;
        vertical-align: middle;
        background-clip: padding-box;
        //outline: 1px solid white;
        //border: 1px solid #ffffff;
        //border-right: 1px solid #ffffff;

        //width: 25%;
    }
}

@media only screen and (min-width: 801px) {
    //and (max-width: 1000px) {
    .timetable-cell-flight-note_header {
        //width: 20em;
        //outline: 1px solid #b7ff3f;

    }
}

@media only screen and (min-width: 1001px) {
    .timetable-cell-flight-note_header {
        //outline: 1px solid #58b6ff;
    }
}
