.timetable-row_header {
    timetable-row_skin_base();

    //max-width: 75%;

    //background-color : #E6E6E6;

    background-color: black;
    color:white;

    //position: fixed;
    //top: 0px;
    //width: inherit;
    //width: inherit;
    //width: 75%;
}
