.timetable-row_header {
    timetable-row_skin_base();

    //max-width: 75%;

    background-color: #171717;
    //background-image: linear-gradient(top, #171717, #171717);
    text-shadow: 1px 1px 5px #000;

    color:white;

}
