.timetable-cell-flight-note_header {

    display: none;

}

@media only screen and (min-width: 319px) {
    .timetable-cell-flight-note_header {

    }
}

@media only screen and (min-width: 479px) {
    .timetable-cell-flight-note_header {

    }
}

@media only screen and (min-width: 599px) {
    .timetable-cell-flight-note_header {

    }
}

@media only screen and (min-width: 719px) {
    .timetable-cell-flight-note_header {
        display: table-cell;
        width: 30%;
        text-align: center;
        vertical-align: middle;
        background-clip: padding-box;

    }
}

@media only screen and (min-width: 799px) {
    .timetable-cell-flight-note_header {

    }
}

@media only screen and (min-width: 1001px) {
    .timetable-cell-flight-note_header {

    }
}
