.timetable-cell-general-info_header {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 31%;
    background-clip: padding-box;
    border-right: 1px solid #ffffff;

    &__flight-type {
        display: none;
    }

}

@media only screen and (min-width: 319px) {
    .timetable-cell-general-info_header {

    }
}

@media only screen and (min-width: 599px) {
    .timetable-cell-general-info_header {
        width: 28%;

    }
}

@media only screen and (min-width: 719px) {
    .timetable-cell-general-info_header {
        width: 24%;

    }
}

@media only screen and (min-width: 799px) {
    .timetable-cell-general-info_header {
        width: 18%;

    }
}

@media only screen and (min-width: 899px) {
    .timetable-cell-general-info_header {
        width: 13%;

    }
}

@media only screen and (min-width: 979px) {
    .timetable-cell-general-info_header {

    }
}
