.timetable-cell-header-general-info {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 10%;
    background-clip: padding-box;

    outline: 1px solid red;

        &__flight-type {
            display: none;
        }

        &__flight-number {
            display: none;

        }

        &__plan-time {
            display: none;

        }

        &__aircraft-type {
            display: none;

        }


}

@media only screen and (min-width: 321px) {
    //and (max-width: 480px){
    .timetable-cell-header-general-info {
        outline: 1px solid red;

    }
}

@media only screen and (min-width: 481px) {
    //and (max-width: 600px) {
    .timetable-cell-header-general-info {
        outline: 1px solid #ab7fff;

    }
}

@media only screen and (min-width: 601px) {
    //and (max-width: 800px) {
    .timetable-cell-header-general-info {
        outline: 1px solid #8ad0ff;

    }
}

@media only screen and (min-width: 801px) {
    //and (max-width: 1000px) {
    .timetable-cell-header-general-info {
        width: 20em;
        outline: 1px solid #b7ff3f;

    }
}

@media only screen and (min-width: 1001px) {
    .timetable-cell-header-general-info {
        outline: 1px solid #58b6ff;
    }
}
