.timetable-main-layout {
    display: table;

    //table-layout: fixed;
    //box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.5);
    //border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    border-collapse: collapse;
    //border: 1px solid rgba(0, 0, 0, 0.2);
    //border-right: 0px solid rgba(0, 0, 0, 0.2);
    /* здесь стили блока */
}
