.timetable-cell-plan-time {

    display: none

}

@media only screen and (min-width: 319px) {
    .timetable-cell-plan-time {


    }
}

@media only screen and (min-width: 479px) {
    .timetable-cell-plan-time {


    }
}

@media only screen and (min-width: 599px) {
    .timetable-cell-plan-time {
        display: table-cell;
        border: 1px solid #ffffff;
        text-align: center;
        vertical-align: middle;
        width: 6%;
        background-clip: padding-box;

        -o-transition: .135s;
        -ms-transition: .135s;
        -moz-transition: .135s;
        -webkit-transition: .135s;
        transition: .135s;

        &._hover {
            background: rgba(224, 224, 224, 0.75) none repeat scroll 0 0;

        }

    }
}

@media only screen and (min-width: 719px) {
    .timetable-cell-plan-time {

    }
}

@media only screen and (min-width: 1001px) {
    .timetable-cell-plan-time {

    }
}
