.timetable-cell-plan-time_header {

    display: none

}

@media only screen and (min-width: 319px) {
    .timetable-cell-plan-time_header {


    }
}

@media only screen and (min-width: 479px) {
    .timetable-cell-plan-time_header {

    }
}

@media only screen and (min-width: 599px) {
    .timetable-cell-plan-time_header {
        display: table-cell;
        border-right: 1px solid #ffffff;
        text-align: center;
        vertical-align: middle;
        width: 6%;
        background-clip: padding-box;

    }
}

@media only screen and (min-width: 719px) {
    .timetable-cell-plan-time_header {
        width: 6%;

    }
}

@media only screen and (min-width: 1001px) {
    .timetable-cell-plan-time_header {

    }
}
