.timetable-row_light {
    timetable-row_skin_base();

    background-color : #FFFFFF;
    cursor: pointer;

    &:hover {
        background: rgba(224, 224, 224, 1) none repeat scroll 0 0;

    }

}
