flight-timetable-row_skin_base() {
    display: table-row-group;

    width: 100%;

    -o-transition:.135s;
    -ms-transition:.135s;
    -moz-transition:.135s;
    -webkit-transition:.135s;
    /* ...and now for the proper property */
    transition:.135s;
}
