.flight-timetable-row {
    display: table-row-group;

    &:hover {
        outline: none;
        border-color: #fbf8c9;
        box-shadow: 0 0 10px #fcefa8;
        background-color : #fdf4c2;
    }
}

.flight-timetable-row_header {
    flight-timetable-row_skin_base();

    background-color : #fcff62;

}

.flight-timetable-row_dark {
    flight-timetable-row_skin_base();

    background-color : #bababa;

}

.flight-timetable-row_light {
    flight-timetable-row_skin_base();

    background-color : #ffffff;

}
