flight-timetable-row_skin_base() {
    display: table-row-group;

    //border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    //border-right: 1px solid rgba(0, 0, 0, 0.2);

    //height: 40px;

    -o-transition:.135s;
    -ms-transition:.135s;
    -moz-transition:.135s;
    -webkit-transition:.135s;
    /* ...and now for the proper property */
    transition:.135s;
}
