.timetable-header {

    display: table-header-group;

    background-color: black;
    color: white;

    //width: 100%;

    &._hidden {
        visibility: hidden;

        //display: table-header-group;
        //position: fixed;
        //width: inherit;
        //max-width: 75%;
    }
}




