.timetable-cell-airline-company {

    display: none

}

@media only screen and (min-width: 400px) {
    //and (max-width: 480px){
    .timetable-cell-airline-company {

        display: table-cell;
        //position: relative;

        &__name {
            display: none;
        }

        border: 1px solid #ffffff;

        //border: 1px solid #ffffff;

        text-align: center;
        vertical-align: middle;
        width: 15%;
        background-clip: padding-box;

        -o-transition: .135s;
        -ms-transition: .135s;
        -moz-transition: .135s;
        -webkit-transition: .135s;
        transition: .135s;

        &._hover {
            background: rgba(224, 224, 224, 0.75) none repeat scroll 0 0;

        }

    }
}

@media only screen and (min-width: 481px) {
    //and (max-width: 600px) {
    .timetable-cell-airline-company {
       // outline: 1px solid #ab7fff;

        &__name {
            display: block;
        }

    }
}

@media only screen and (min-width: 601px) {
    //and (max-width: 800px) {
    .timetable-cell-airline-company {
        //outline: 1px solid #8ad0ff;

    }
}

@media only screen and (min-width: 801px) {
    //and (max-width: 1000px) {
    .timetable-cell-airline-company {
        outline: 1px solid #b7ff3f;

    }
}

@media only screen and (min-width: 1001px) {
    .timetable-cell-airline-company {
        outline: 1px solid #58b6ff;
    }
}
