.timetable-cell-airline-company {

    border: 5px solid #91ff4f;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 12em;

    background-clip: padding-box;

    -o-transition: .135s;
    -ms-transition: .135s;
    -moz-transition: .135s;
    -webkit-transition: .135s;
    transition: .135s;

    &__name {
        display: none;
    }

    &._hover {
        outline: 0;

        if (ie == 8) {
            backgorund: rgba(0, 255, 0, 0.2) none repeat scroll 0 0;
        } else {
            background: rgba(0, 255, 0, 0.2) none repeat scroll 0 0;
        }
    }

}

@media only screen and (min-width: 321px) and (max-width: 480px){
    .timetable-cell-airline-company {
        &__name {
            display: block;
        }

    }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
    .timetable-cell-airline-company {
        border: 5px solid #ab7fff;

    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .timetable-cell-airline-company {
        border: 5px solid #8ad0ff;

    }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
    .timetable-cell-airline-company {
        border: 5px solid #b7ff3f;

    }
}

@media only screen and (min-width: 1001px) {
    .timetable-cell-airline-company {
        border: 5px solid #58b6ff;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 12em;

        background-clip: padding-box;

        -o-transition: .135s;
        -ms-transition: .135s;
        -moz-transition: .135s;
        -webkit-transition: .135s;
        /* ...and now for the proper property */
        transition: .135s;

        &__logo {
            display: none;
        }

        &._hover {
            outline: 0;

            if (ie == 8) {
                backgorund: rgba(0, 255, 0, 0.2) none repeat scroll 0 0;
            } else {
                background: rgba(0, 255, 0, 0.2) none repeat scroll 0 0;
            }
        }

    }
}
