.timetable-cell-actual-info_header {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    width: 30%;
    background-clip: padding-box;

    &__flight-status {
        display: none;
    }

    &__real-time {
        display: none;
    }

    &__note {
        display: none;
    }

}

@media only screen and (min-width: 321px) {
    .timetable-cell-actual-info_header {

    }
}

@media only screen and (min-width: 481px) {
    .timetable-cell-actual-info_header {

    }
}

@media only screen and (min-width: 601px) {
    .timetable-cell-actual-info_header {
        border-right: 1px solid #ffffff;

    }
}

@media only screen and (min-width: 801px) {
    .timetable-cell-actual-info_header {


    }
}

@media only screen and (min-width: 1001px) {
    .timetable-cell-actual-info_header {

    }
}
