.timetable-cell-actual-info {
    display: table-cell;
    border: 1px solid #ffffff;
    text-align: center;
    vertical-align: middle;
    width: 30%;
    background-clip: padding-box;

    &__flight-status {
        margin-top : 2px;
    }

    &._hover {
        background: rgba(224, 224, 224, 0.75) none repeat scroll 0 0;

    }

    &._canceled &__flight-status {
        display: inline;
        position:relative;
        top : 1px;
        background-color: rgba(139, 0, 0, 0.9);
        color: white;
    }

    &._delayed &__flight-status {
        display: inline;
        position:relative;
        top : 1px;
        background-color: rgba(165, 165, 0, 0.91);
        color: white;
    }

    &._arrival &__flight-status {
        display: inline;
        position:relative;
        top : 1px;
        background-color: rgba(0, 100, 0, 0.91);
        color: white;
    }

}

@media only screen and (min-width: 319px) {
    .timetable-cell-actual-info {

    }
}

@media only screen and (min-width: 479px) {
    .timetable-cell-actual-info {

    }
}

@media only screen and (min-width: 599px) {
    .timetable-cell-actual-info {
        width: 20%;

        &__real-time {
            display: none;
        }

    }
}

@media only screen and (min-width: 719px) {
    .timetable-cell-actual-info {
        width:15%;

        &__note {
            display: none;
        }

    }
}

@media only screen and (min-width: 799px) {
    .timetable-cell-actual-info {

    }
}

@media only screen and (min-width: 979px) {
    .timetable-cell-actual-info {

    }
}
