.flight-timetable-cell-airline-company {
    display: table-cell;
    border: 1px solid black;
    &._hover {
        outline: none;
        //border-color: #fbeb92;
        //box-shadow: 0 0 10px #fcefa8;
        background-color: #fdf4c2;
    }
    /* здесь стили блока */
}
