.timetable-cell-actual-info {
    display: table-cell;
    //position: relative;

    border: 1px solid #ffffff;
    //border: 1px solid #ffffff;

    text-align: center;
    vertical-align: middle;
    width: 30%;
    background-clip: padding-box;

    &._hover {
        background: rgba(224, 224, 224, 0.75) none repeat scroll 0 0;

    }

}

@media only screen and (min-width: 321px) {
    //and (max-width: 480px){
    .timetable-cell-actual-info {
       // outline: 1px solid #07fffa;

    }
}

@media only screen and (min-width: 481px) {
    //and (max-width: 600px) {
    .timetable-cell-actual-info {
        //outline: 1px solid #ab7fff;

    }
}

@media only screen and (min-width: 601px) {
    //and (max-width: 800px) {
    .timetable-cell-actual-info {
        //outline: 1px solid #8ad0ff;

    }
}

@media only screen and (min-width: 801px) {
    //and (max-width: 1000px) {
    .timetable-cell-actual-info {
        width: 20em;
        outline: 1px solid #b7ff3f;

    }
}

@media only screen and (min-width: 1001px) {
    .timetable-cell-actual-info {
        outline: 1px solid #58b6ff;
    }
}
