.timetable-cell-actual-time_header {
    display: none

}

@media only screen and (min-width: 319px) {
    .timetable-cell-actual-time_header {

    }
}

@media only screen and (min-width: 479px) {
    .timetable-cell-actual-time_header {

    }
}

@media only screen and (min-width: 599px) {
    .timetable-cell-actual-time_header {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 6%;
        background-clip: padding-box;

    }
}

@media only screen and (min-width: 719px) {
    .timetable-cell-actual-time_header {
        border-right: 1px solid #ffffff;

    }
}

@media only screen and (min-width: 799px) {
    .timetable-cell-actual-time_header {

    }
}

@media only screen and (min-width: 1001px) {
    .timetable-cell-actual-time_header {

    }
}
