.timetable-cell-airport-destination_header {

    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-clip: padding-box;
    border-right: 1px solid #ffffff;

    width: 24%;

}

@media only screen and (min-width: 319px) {
    .timetable-cell-airport-destination_header {

    }
}

@media only screen and (min-width: 479px) {
    .timetable-cell-airport-destination_header {
        width: 10%;

    }
}

@media only screen and (min-width: 599px) {
    .timetable-cell-airport-destination_header {

    }
}

@media only screen and (min-width: 719px) {
    .timetable-cell-airport-destination_header {
        width: 14%;

    }
}

@media only screen and (min-width: 1001px) {
    .timetable-cell-airport-destination_header {

    }
}
