.flight-timetable-row-detailed {
    //border-top: 1px solid rgba(0, 0, 0, 0.2);
    //border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 0px;
    overflow: hidden;

    -o-transition: all 2s;
    -ms-transition: all 2s;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    /* ...and now for the proper property */
    transition: all 2s;

    &._visible {
        height: 100px;
        //display: table-row-group;
        //border-top: 1px solid rgba(0, 0, 0, 0.2);
        //border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        //border-right: 1px solid rgba(0, 0, 0, 0.2);
        /*outline: 0;
        box-shadow: 0 0 10px #fc0;

        if (ie == 8) {
            border-color: #d1bb66;
        } else {
            border-color: rgba(178, 142, 0, .6);
        }*/
    }
}
