.flight-timetable-header-hidden {
    display: none;

    &._visible {
        display: table-header-group;
        position: fixed;
        width: inherit;
        max-width: 75%;
        top: 0px;
    }
}
