.flight-timetable-header {
    display: table-row;
    //border: 1px solid rgba(0, 0, 0, 0.2);
    //border-top: 1px solid rgba(0, 0, 0, 1);
    //position : fixed;
    /* здесь стили блока */
    //position: relative;
    //top: 85px;
    //position: static;
    //top: 85px;
    &._fixed {
        position : sticky;
        top: 0px;
        //transform: translateX(-50%);
    }
}
