/*
.layout-view {
    box-shadow: 0 21px 40px 0 rgba(0, 0, 0, 0.19);
    margin: 80px auto 100px;
    padding: 25px 0;
    width: 75%;
    /!* здесь стили блока *!/
}
*/

@media only screen and (max-width: 320px) {
    .layout-view {
        //box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
        //box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
        margin: 2em auto;
        padding: 1em;
        //margin: 80px auto 100px;
        //padding: 25px 0;
        width: 75%;
        /* здесь стили блока */
    }
}

@media only screen and (max-width: 700px) {
    .layout-view {
        //box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
        box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
        margin: 2em auto;
        padding: 1em;
        //margin: 80px auto 100px;
        //padding: 25px 0;
        width: 75%;
        /* здесь стили блока */
    }
}

@media only screen and (min-width: 700px) {

    .layout-view {
        //box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
        box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
        margin: 2em auto;
        padding: 1em;
        //margin: 80px auto 100px;
        //padding: 25px 0;
        width: 75%;
        /* здесь стили блока */
    }
}
