.flight-timetable-row_header {
    flight-timetable-row_skin_base();

    //max-width: 75%;

    background-color : #D7D6D6;
    //position: fixed;
    //top: 0px;
    //width: inherit;
    //width: inherit;
    //width: 75%;
}
